
body{
    font-family: 'Poppins', sans-serif;
}

/* first worke j */

#feedback{
    background-color: navy;
    padding: 5% 7%;
}
.hr-style{
    border: 5px dotted blue;
    border-bottom: none;
    width: 50px;
}
.carousel-item{
    padding: 5% 15%;
    text-align: center;
    font: italic;
}
.feedback-img{
    width: 250px;
    height: auto;
}
.carousel-indicators{
    bottom: -20px;
}

/* second part going */
button{
    background-color: tomato;
    font-size: 22px;
    font-weight: 700;
    text-shadow: orangered;
    margin: 5px;
    padding: 20px;
    border-radius: 60px;
    
}

.blog-color{
    background-color: hotpink;
    border: 1px hotpink;
}
.end-blog{
    background-color: rgb(201, 112, 201);
    width: auto;
    height: 300px;
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
    text-align: center;
    padding-top: 70px;
}